name: Redis CI-CD

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-publish:
    runs-on: ubuntu-latest
    env:
      DOCKERFILE: Dockerfile
      REPLACESETTINGS: redis.conf
      TAG: redis
    steps:
     - uses: actions/checkout@v2
     - name: Docker Login
       uses: docker/login-action@v3.0.0
       with:
        registry: ${{secrets.DOCKER_HOST}}
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}      
     - 
      uses: cschleiden/replace-tokens@v1
      with:
        tokenPrefix: '#{'
        tokenSuffix: '}'
        files: '["${{env.REPLACESETTINGS}}"]'
      env:
        ONPREM_REDIS : ${{secrets.ONPREM_REDIS}}
        REPLACESETTINGS: redis.conf
     - name: Build and push Docker images
  # You may pin to the exact commit or the version.
  # uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56
       uses: docker/build-push-action@v5.1.0
       with:
            context: ./
            file: Dockerfile
            push: true
            tags: |
              ${{secrets.DOCKER_HOST}}/${{env.TAG}}
  deploy:
    needs: build-publish
    runs-on: self-hosted
    env:
      TAG: redis
    steps:
     - name: SSH Command
    # uses: nekiro/ssh-job@e0d177751aced5bcaf110ce4d782a681e5e12856
       uses: nekiro/ssh-job@v1.0.5
       with:
        command: sudo docker pull ${{secrets.DOCKER_HOST}}/${{env.TAG}}; sudo docker stop ${{env.TAG}}; sudo docker rm ${{env.TAG}}; sudo docker run --name ${{env.TAG}} --restart=unless-stopped --net inter_network -m=250m -d ${{secrets.DOCKER_HOST}}/${{env.TAG}}; 
        host: ${{secrets.HOST}}
        user: ${{secrets.CENTURION_USERNAME}}
        password: ${{secrets.CENTURION_PASSWORD}}
